.simple-carousel {
    display: flex;
    flex-direction: column;

    width: 60vw;
    height: 40vh;
    background-color: #FFFCF9;
    border-radius: 5px;
    box-shadow: 5px 5px 17px 5px rgba(148,148,148,0.6);
}